<div class="mt-3 mb-2"  >
    <div class="container d-flex justify-content-between">

    <select class="form-select mt-3" id = "selectId" aria-label="Default select example">
        <option selected disabled >select Warehouse</option>
        <option *ngFor="let warehouse of warehouses" [value]="warehouse.id"  (click)="getProductsOfWarehouse(warehouse.id)">{{warehouse.name}}</option>
      </select>
    </div>
    <section *ngFor="let product of products"> 
    <div class="container py-5" >
        <div class="row justify-content-center mb-3">  
          <div class="col-md-12 col-xl-10">
            <div class="card shadow-0 border rounded-3"  style="background-color: #eee; padding: 30px;">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                    <div class="bg-image hover-zoom ripple rounded ripple-surface">
                      <img src="{{product.imageUrl}}"
                        class="w-100" />
                      <a href="#!">
                        <div class="hover-overlay">
                          <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6 col-xl-6 mt-5" style="text-align: center;">
                    <div class="mt-1 mb-1 text-muted small">
                        <h5>Name</h5>
                      <span>{{product.name}}</span>
                    </div>
                    <div class="mb-2 text-muted small">
                        <h5>Category</h5>
                      <span>{{product.categoryName}}</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                    <div class="d-flex flex-row align-items-center mb-1">
                      <h4 class="mb-1 me-1">${{product.price}}</h4>
                    </div>
                    <h6 class="text-success">Free shipping</h6>
                    <div class="d-flex flex-column mt-5">
                      <button class="btn btn-outline-primary btn-sm mt-2" type="button" (click)="addToWishList(product)">
                        Add to Basket
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
  </section>
</div>
